.win-container {
    margin: 0 4px;
    padding: 4px;
    transition: transform 0.1s ease-out;
}

    .win-container:active {
        transform: scale(0.95);
    }

.app-card {
    flex: 0 0 160px !important;
    width: 160px !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

    .app-card.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .app-card img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
        background-color: var(--accent) !important;
        background-color: #0078d7
    }

.app-card-info {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.app-name {
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}